
#anchorLeft {
-fx-background-color: black;
-fx-border-color:black
}
#stripEndLabel {
-fx-background-color: black;
-fx-border-color:black
}

#airportTitle{
-fx-text-fill: white;
}

#runwayTitle{
-fx-text-fill: white;
}

#obTitle{
-fx-text-fill: white;
}
#obstacleWidthLabel{
-fx-text-fill: white;
}

#obstacleHeightLabel{
-fx-text-fill: white;
}

#distFromThreshold{
-fx-text-fill: white;
}


#leftRight{
-fx-text-fill: white;
}

#calTitle{
-fx-text-fill: white;
}

#vboxx {
 -fx-background-color: black;
 -fx-border-color: black;

}
#otherDetails{
-fx-text-fill: white;
}

#distFromCentre{
-fx-text-fill: white;
}

#blastProtectionLabel{
-fx-text-fill: white;
}

#newToraLabel1{
-fx-text-fill: white;
}

#newToraLabel11{
-fx-text-fill: white;
}

#performCalculationButton{
-fx-border-color:white
}

#resetButton{
-fx-border-color:white
}

#resetViewButton{
-fx-border-color:white
}

#calculationBreakdown{
-fx-border-color:white
}

#breakDownPane{
-fx-border-color: black;
}
#backgroundPane{
-fx-background-color: black;
}

#addNewAirport{
-fx-text-fill:  white;
}

#manageAirport{
-fx-text-fill:  white;
}
#airDetails{
-fx-text-fill:  white;
}

#importAirportButton{
-fx-border-color:white
}

#deleteAirportButton{
-fx-border-color:white
}

#exportAllAirport{
-fx-border-color:white
}


#exportAirportDetails{
 -fx-border-color:white
}

#editAirportButton{
 -fx-border-color:white
}

#testAnchor{
-fx-background-color: black;
}

#addUserButton{
-fx-border-color:white
}
#addManagerButton{
-fx-border-color:white
}