#anchorLeft {
-fx-background-color: transparent;
-fx-border-color: transparent;
}

#airportTitle {
    -fx-text-fill: black;
}
#calTitle{
-fx-text-fill: black;
}
#runwayTitle {
    -fx-text-fill: black;
}
#obTitle {
    -fx-text-fill: black;
}

#obstacleWidthLabel{
-fx-text-fill: black;
}
#obstacleHeightLabel{
-fx-text-fill: black;
}

#vboxx {
 -fx-background-color: transparent;
 -fx-border-color: transparent;

}

#stripEndLabel {
-fx-background-color: transparent;
-fx-border-color: transparent;

}

#distFromThreshold{
-fx-text-fill: black;
}

#leftRight{
-fx-text-fill: black;
}

#otherDetails{
-fx-text-fill: black;
}

#distFromCentre{
-fx-text-fill: black;
}

#blastProtectionLabel{
-fx-text-fill:  black;
}

#newToraLabel1{
-fx-text-fill:  black;
}

#newToraLabel11{
-fx-text-fill:  black;
}

#performCalculationButton{
-fx-border-color:transparent
}
#resetButton{
-fx-border-color:transparent
}

#resetViewButton{
-fx-border-color:transparent
}

#calculationBreakdown{
-fx-border-color:transparent
}

#breakDownPane{
-fx-border-color: transparent;
}

#backgroundPane{
-fx-background-color: transparent;
}

#addNewAirport{
-fx-text-fill:  black;
}

#manageAirport{
-fx-text-fill:  black;
}
#airDetails{
-fx-text-fill:  black;
}

#importAirportButton{
-fx-border-color:transparent
}

#deleteAirportButton{
-fx-border-color:transparent
}


#exportAllAirport{
-fx-border-color:transparent
}


#exportAirportDetails{
 -fx-border-color:transparent
}

#editAirportButton{
 -fx-border-color:transparent
}

#testAnchor{
-fx-background-color: white;
}

#addUserButton{
-fx-border-color:transparent
}
#addManagerButton{
-fx-border-color:transparent
}