.split-pane > .split-pane-divider {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.anchor-pane > .anchor-pane-border {
    -fx-border-color: transparent;
}

.my-alert > .content-text {
    -fx-font-family: Verdana;
    -fx-font-size: 14px;
    -fx-text-fill: red;
}

#visualPane > .tabs {
    -fx-background-color: black;
}
